<%- include('partials/head')%>
    <%- include('partials/navbar')%>

        <h1>The Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio modi eveniet pariatur omnis incidunt
            magni
            nisi dolorem quia deserunt delectus, ullam ex itaque velit accusamus minima earum! Eveniet, et porro?</p>
        <%= 3 + 4 + 1 %>
            <%- include('partials/footer')%>